.card-text {
  color: #ff8f73;
  font-weight: 800;
}
#btnComprar {
  color: white;
  font-size: 0.8rem;
  background-color: #ff8f73;
  display: none;
}

#products {
  /* Margem para evitar que a prateleira de produtos colida com o rodapé */
  margin-bottom: 8rem;
}
