/* Propriedades comuns a todas as páginas */

html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

footer {
  bottom: 0;
  width: 100%;
  line-height: 60px;
  background-color: #ff8f73;
}

h1 {
  font-size: 1.75rem;
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 1px;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.8rem;
}

.overlay {
  position: absolute;
  z-index: 3;
}

#mainNavbar {
  background-color: white;
}

#btnNewsletter {
  color: #ff8f73;
  font-size: 0.8rem;
}

#loginTitle,
#loginClose {
  color: #ff8f73;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
#cartHeader {
  background-color: #ff8f73;
  color: white;
}
#cartHeader .fa-times {
  color: white;
}
.modal-dialog {
  overflow-y: initial !important;
}
#cartBody {
  height: 250px;
  overflow-y: auto;
}
.close {
  color: white;
}
.close:hover {
  color: white;
}

.gray {
  color: #bbc0c4;
}

.btn-link.gray:hover {
  color: gray;
}

.fa-minus,
.fa-plus,
#exitLogin {
  color: #ff8f73;
}

#countItems {
  font-size: 0.9rem;
}

#itemValue,
#cartValue {
  font-weight: 800;
  font-size: 1rem;
}

#btnComprarCart {
  color: white;
  font-size: 0.8rem;
  background-color: #ff8f73;
  width: 100%;
}
