/* Propriedades da página do produto  */

#btnComprar {
  color: white;
  font-size: 0.8rem;
  background-color: #ff8f73;
}

#totalValue,
#finalValue {
  font-weight: 800;
}

#totalValue {
  color: #bbc0c4;
  text-decoration: line-through;
}

#finalValue {
  color: #ff8f73;
}

#value {
  font-size: 1.5rem;
}
