html,
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 0.9rem;
}

footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  /* height: 60px; */
  line-height: 60px;
  background-color: #ff8f73;
}

h1 {
  font-size: 1.75rem;
  letter-spacing: 1px;
}

h3 {
  letter-spacing: 1px;
}

h6 {
  font-size: 0.8rem;
}

.card-text {
  color: #ff8f73;
  font-weight: 800;
}

#mainNavbar {
  background-color: white;
}

#btnNewsletter {
  color: #ff8f73;
  font-size: 0.8rem;
}

#btnComprar {
  color: white;
  font-size: 0.8rem;
  background-color: #ff8f73;
  display: none;
}

#value {
  font-size: 1.5rem;
}

#products {
  /* Margem para evitar que a prateleira de produtos colida com o rodapé */
  margin-bottom: 8rem;
}
